.index-form-input{
  color: black !important;
  background-color: #ffffff !important;
}

.index-form-input::placeholder{
  color: gray !important;
}

.rs-contact.style2 .form-part{
  background: url(assets/images/index/contact-us/coffee-dark.jpg);
}